body {
    background-color: midnightblue
}

nav a {
    color: orange
}

#current-link {
    text-decoration: none
}

/* this is where i add detail to the project and this was the hardest part 
because i didnt understand how to code it correctly */

#aboutpg {
    background-image: url(http://www.lcaid.com/images/full/2013/03/24/hd-x-gaming-metalgear-major-league-mlg-fever_major-league-gaming-mlg-fever.jpg)
}

#techbody {
    background-color: red;
}

#aboutpg {
    color: white;
}

#projectpge {
    background-image: url(http://bimmerretrofit.com/store/image/cache/data/Product/Services/coding%20adaptation-500x500.jpg)
}

#nextlink {
    text-decoration: none
}